body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 90% 90%;
    background: rgb(247, 246, 246) !important;
    color: white !important;
}




.reg-div a{
    color: #4aa1f3 !important;
    font-size:18px;
    text-decoration:none !important;
    z-index: 1000;
}

.main {
    width: 36%;
    margin:0 auto;
    margin-top: 50px;
}

#main{
    background: #4aa1f3 !important;
    border: 1px solid white;
    height: 100%;
/*    min-height: 300px;*/
}


 

.login-log {
    padding: 7px;
    border-radius: 0px !important;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 17px;
}

.inset {
    padding: 20px 20px 0px 20px;
    /*border-top: 1px solid #000;*/
}

form h1 {
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    margin-top:0px
}


form h1 {
    color: #4aa1f3;
    /*text-shadow: 0 1px 0 #000;*/
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

form h1 span {
    padding: 5px;
    background: #0184ff;
}

label {
    /*color: rgba(137, 192, 243, 0.8);*/
    color: #858585;
    display: block;
    font-size: 13px;
    /*padding-bottom: 9px;*/
}

input[type=text],
input[type=password],
.select {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    margin-bottom: 20px;
    color: #858585;
    font-size: 15px;
    outline: none;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    font-family: inherit;
    -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
    -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
    -o-transition: box-shadow .45s, border-color .45s ease-in-out;
    transition: box-shadow .45s, border-color .45s ease-in-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}




.p-container {
    padding: 0 20px 20px 20px;
}

    .p-container:after {
        clear: both;
        display: table;
        content: "";
    }

    .p-container span a {
        font-size: 14px;
        display: block;
        float: left;
        color: #0d93ff;
        padding-top: 4px;
    }


input[type=submit] {
    padding: 5px 20px;
    border: 1px solid #439F07;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: rgb(138,199,84); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */
    color: #fff;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

    input[type=submit]:hover {
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -10px 10px rgba(255,255,255,0.1);
        background: rgb(102,174,63); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(102,174,63,1) 0%, rgba(57,150,2,1) 3%, rgba(102,190,24,1) 52%, rgba(121,201,50,1) 55%, rgba(138,199,84,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,174,63,1)), color-stop(3%,rgba(57,150,2,1)), color-stop(52%,rgba(102,190,24,1)), color-stop(55%,rgba(121,201,50,1)), color-stop(100%,rgba(138,199,84,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754',GradientType=0 ); /* IE6-9 */
    }

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

footer .container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}




/* NEW ONE */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f0eeee;
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: rgb(99, 99, 99);
    font-size: 20px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

